# ==========================
# Python
# ==========================

__pycache__/
*.pyc

# ==========================
# Visual Studio
# ==========================

.vs/

# ==========================
# Logs
# ==========================

logs/

# ==========================
# Environment Variables
# ==========================

.env

# ==========================
# Virtual Environment
# ==========================

venv/

# ==========================
# Windows
# ==========================
.DS_Store
Thumbs.db